.img-cirle {
    border-radius: 100px;
    width: 70%;
    background: #ffffff !important;
    padding: 2em;
    border: 1px solid #4343430d;
    margin: 0 auto;
    margin-bottom: 1em;
}

.project-wrap {
    background: none;
    box-shadow: none;
    text-align: center;
}

.p-l-0 {
    padding-left: 0px;
}

.project-wrap .text h3 a {
    color: #000000c9;
    font-size: 1.1em;
    font-weight: 600;
}

.btn-group, .btn-group-vertical {
    display: block
}

.box-shadow-none {
    box-shadow: none;
}

.about-teacher {
    background-image: url('../../images/bg-teacher.jpg');
    background-repeat: no-repeat;
}