@media only screen and (max-width: 540px) {
    .button-to-right {
        margin-top: -40%!important;
    }
    
    .about-describe {
        display: none;
    }

    .logo-header {
        width: 55%;
    }
}

@media only screen and (max-width: 991px) {
    .search-box-will-show {
        display: block;
    }
    .search-box-will-hide {
        display: none;
    }
    
    a.nav-link {
        border-radius: 5px;
    }
    
    a.nav-link:hover {
        background: rgba(108, 122, 252, 1);
        color: white!important;
        border-radius: 5px;
    }

    li.nav-item {
        border-radius: 5px;
        text-align: center;
    }

    .ftco-navbar-light.scrolled .nav-link {
        padding: 0.6em!important;
    }

    .drop-box.text-left {
        display: none;
    }    
    
    li.nav-item.bar-active.active a:hover {
        color: white!important;        
    }

    .ftco-navbar-light .navbar-nav > .nav-item.active > a {
        border: none!important;
    }

    .navbar-collapse {
        margin-top: 14px;
    }

    .ftco-navbar-light.scrolled .nav-item.active > a {
        padding-bottom: 0.6em!important;
        border: 0px;
        background: #4286F5 !important;        
        color: white!important;
    }

    .search-phone-menu {
        display: block;
    }
}


@media only screen and (max-width: 1200px) {
    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
        font-size: 0.8em;
    }
}